
.app-container {
  display: flex;
  flex-direction: column;

  &__upper-elements {
    display: grid;
    grid-template: auto/15% 85%;

    @media screen and (max-width: 950px) {
      grid-template: auto/20% 80%;
    }

    @media screen and (max-width: 800px) {
      display: flex;
      flex-direction: column;
    }
  }
}